.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}
.col1{
    background-color: pink;
}
.col2{
    background-color: pink;
}
.col3{
    background-color: pink;
}
.col4{
    background-color: pink;
}