.main{
    display: flex;
    justify-content: space-between;
    border-width: 1px;
    border-style: solid;
    border-color: gray;

    height: 70px;
    align-items: center;
}

.item1,.item2{
    background-color: lightpink;
}