body{
    font-family: arial;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    background-color: #7153AB;
    border: 0px;
}

.search{
    flex: 1;
    /* background-color: pink; */
    border-radius: 10px;
    margin-right: 100px;
}

.search-input{
    border: 0;
    border-radius: 20px;
    width: 100%;
    font-size: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.home{
    margin-right: 100px;
    color: white;
    margin-left: 10px;
    font-size: 14px;
    font-weight: bold;
}

.download{
    margin-right: 10px;
}

.download-button{
    background-color: #7153AB;
    border-style: solid;
    color: white;
    border-color: white;
    border-width: 1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 13px;
}