.sidebar{
    position: fixed;
    width: 80px;
    left: 8px;
    bottom: 0;
    top : 80px;
    background-color: white;
    z-index: 200; /* sidebar on top of header */
}

.element{
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* vertical-align: middle; */
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s;
}

.element:hover{
    background-color: lightgray;
}



.element img{
    height: 33px;
    padding-bottom: 5px;
}

.element div{
    font-family: Roboto, Arial;
    font-size: 13px;
}