.main-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 40px;
}

/* .vid-1{
    display: grid;
    grid-template-rows: 2fr 1fr;
} */


.thumbnail-img{
    width: 100%;
    display: block;
    /* margin-bottom: 12px; */
}

.vid-img{
    margin-bottom: 16px;
    position: relative;
}

.time-duration{
    background-color: black;
    color: white;
    font-size: 18px;
    padding: 4px 5px 4px 5px;
    font-family: Roboto,Arial;
    font-weight: 500;
    position: absolute;
    bottom: 5px;
    right: 5px;
    border-radius: 4px;
}

.vid-info{
    display: grid;
    grid-template-columns: 65px 1fr;
}

.vid-info-text{
    display: grid;
    grid-template-rows: 2fr 25px 25px;
}

.channel-img{
    margin-right: 10px;
}

.channel-img-icon{
    width: 90%;
    border-radius: 28px;
    
}

.title{
    margin-top: 0px;
    margin-bottom: 5px;
    font-weight: 500;
    line-height: 28px;
    font-size: 20px;
    
}

.author{
    margin-bottom: 4px;
    color: rgb(90, 89, 89);
    font-size: 17px;
}

.stats{
    color: rgb(90, 89, 89);
    font-size: 17px;

}