.main-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 40px;
}

/* .vid-1{
    display: grid;
    grid-template-rows: 2fr 1fr;
} */


.thumbnail-img{
    width: 100%;
    display: block;
    /* margin-bottom: 12px; */
}

.vid-img{
    margin-bottom: 12px;
}

.vid-info{
    display: grid;
    grid-template-columns: 55px 1fr;
}

.vid-info-text{
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
}


.channel-img-icon{
    width: 90%;
    border-radius: 28px;
}

.title{
    /* margin-top: 0px; */
    margin-bottom: 12px;
    font-weight: 500;
    line-height: 25px;
    font-size: 100%;
}

.author{
    margin-bottom: 4px;
    color: rgb(90, 89, 89);
}

.stats{
    color: rgb(90, 89, 89);
}