body{
    font-family: arial;
    padding: 30px 30px 30px 30px;
}

.main{
    width: 500px;
}

.tweet{
    display: flex;
    margin-bottom: 20px;
}

.photo{
    /* display: flex; */
    width: 55px;
    height: 55px;
    /* align-items: center; */
    /* vertical-align: middle; */
    margin-right: 15px;
}

.cat-img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
    
}

.lines{
    flex:1;
}

.first{
    display: flex;
    margin-bottom: 5px;
}

.name{
    margin-right: 7px;
    font-weight: bold;
    font-size: 17px;
}

.handle{
    color: gray;
    font-size: 17px;
}

.second{
    font-size: 17px;
}

.link-content{
    display: flex;
    height: 100px;
    border-radius: 20px;
    border-style: solid;
    border-color: lightgray;
    border-width: 2px;
    align-items: center;
    overflow: hidden;
}

.empty{
    width: 100px;
    background-color: lightgray;
    margin-right: 15px;
    height: 100%;

}

.ff{
    font-size: 17px;
    color: gray;
    margin-bottom: 5px;
}

.ss{
    font-size: 17px;
}
